<h1>Signup page</h1>
<form action="/auth/signup" method="POST">
    <input type="text" placeholder="Username" name="username">
    <input type="text" placeholder="Password" name="password">
    <button type="submit" >Submit</button>
</form>