* {
    padding: 0;
    margin: 0;
}

main {
    margin: 30px;
}

header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

img {
    height: 100px;
}
.mangas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 100px;
    gap: 20px;
}

.manga {
    display: flex;
    align-items: center;
}
.mangaDetails {


}